table {
  width: 100%;
}

th {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
  vertical-align: middle;
  text-align: center;
  background-color: WhiteSmoke;
}

tr:nth-child(even) {
  background-color: WhiteSmoke;
}

.data-table{
  overflow-x: auto;
}

td {
  vertical-align: middle;
}

