<div class="section">
  <div class="container">
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Variant Viewer
          </h1>
          <h2 class="subtitle">
            Find gene variants!
          </h2>
        </div>
      </div>
    </section>
    <div class="section">
      <div class="box is-size-5">
        <gene-search></gene-search>
      </div>
    </div>
    <div class="section">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

